.player {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin: auto;
}
.album-cover {
  width: 200px;
  height: 200px;
  margin: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controllers {
  display: flex;
  align-items: center;
  margin: auto;
}

button.button-xl {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

button.button-md {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
